#Home h4{
    font-weight: 300;
    font-size: 16px;
    color: #A7A7A7;
}

#HomeWrapper{
    width: 100%;
    display: flex;
    height: 90svh;
}

#HomeWrapper #HomeLeft {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 10%;
    justify-content: space-around;
}

#HomeLeft h1{
    color: var(--main);
    line-height: 52px;
    margin-bottom: 5%;
}

#HomeLeft span{
    color: black;
}

.bookWrapper{
    margin-top: 2.5%;
    display: flex;
    align-items: center;
}

.BookanAppoint{
    background-color: var(--main);
    font-size: 16px;
    color: white;
    padding: 1.75% 5%;
    border-radius: 10px;
    font-weight: 500;
}

.PlayWrapper {
    padding: 5px;
    border: solid 1px var(--lightgrey);
    border-radius: 50%;
    margin-left: auto;
    margin-right: 1.25%;
}

.PlayButton{
    background-color: var(--main);
    font-size: 16px;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 50%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ImageWrapper{
    background-color: green;
    width: 70%;
}

#HomeWrapper #HomeRight {
    width: 40%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}


#HomeWrapper #HomeRight #circleHome{
    height: 30svw;
    width: 30svw;
    border-radius: 50%;
    background-color: var(--second);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#HomeWrapper #HomeRight #circleHomeWhite{
    height: 27.5svw;
    width: 27.5svw;
    border-radius: 50%;
    background-color: white;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#HomeWrapper #HomeRight #circleHome2{
    height: 25svw;
    width: 25svw;
    border-radius: 50%;
    background-color: var(--main);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#HomeWrapper #HomeRight img {
    z-index: 10;
    height: 40svw;
    margin-bottom: 10svw;
    position: relative;
    mask-image: linear-gradient(to top, transparent 0%, transparent 13.33%, black 66.67%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 13.33%, black 66.67%); /* For webkit browsers */
}


/* Single Service Area and Single Service Component CSS */
.HomeServiceWrapper{
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

#HomeServiceWrap{
    width: 75%;
}

.servicehomewrapper{
    margin-top: 2.5%;
    display: flex;
    gap: 5%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#SingleService {
    border-radius: 20px;
    height: 17.5svw;
    width: 17.5svw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

#SingleService .homeicon {
    margin-bottom: 12.5%;
    font-size: 5svw;
    color: var(--main);
    transition: filter 0.3s ease;
}

#SingleService h4 {
    color: black;
    transition: color 0.3s ease;
}

#SingleService:hover {
    background-color: var(--main);
}

#SingleService:hover .homeicon {
    filter: brightness(0) invert(1);
}

#SingleService:hover h4 {
    color: white;
}

/* Meet Doctor Area and Meet Doctor Component CSS */

#meetdoctor{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 50svh;
    width: 22.5svw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5%;
}

#meetdoctor img {
    height: 22.5svh;
}

#meetdoctor h3{
    font-size: 24px;
}

#meetdoctor #meetdocimgwrap {
    background-color: var(--main);
    height: 20svh;
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20px;
}

/* Search Doctor CSS */

#floatingsearch { 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2.25%;
    width: 125%;
    position: relative;
    border-radius: 10px;
    margin-top: 12.5%;
}

#floatingsearch h4 {
    color: black;
    font-weight: 700;
}

#floatingInputs {
    display: flex;
    gap: 2.5%;
    margin-top: 1.25%;
    align-items: center;
}

#floatingInputs #textInput{
    border-radius: 10px;
    background-color: var(--second);
    font-size: 16px;
    border-style: none;
    text-align: center;
    height: 5svh;
    width: 30%;
}

#floatingInputs button {
    border-style: none;
    background-color: var(--main);
    color: white;
    font-size: 16px;
    width: 12.5%;
    border-radius: 10px;
    cursor: pointer;
    height: 5svh;
}

#floatingInputs button:hover{
    background-color: white;
    color: var(--main);
    transition: .6s;
}

/* Toggle Switch */
.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 0;
}

.toggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2.5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--main);
}

input:checked + .slider:before {
    transform: translateX(24px);
}

.floatingtext {
    width: 20svw;
    padding: 1%;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    right: 22.33%;
    top: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.floatingIcon {
    height: 40px;
    font-size: 28px;
    color: var(--main);
}

.floatingtextwrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.floatingtextwrapper h3 {
    font-size: 14px;
    font-weight: 500;
}

.floatingtextwrapper #subtext {
    font-size: 12px ;
    color: #A7A7A7;
    font-weight: 500;
}

#justifyingfloat{
    justify-content: space-between;
}

#rightIconStyle {
    transform: rotate(90deg);
    color: #A7A7A7;
}

