#Login { 
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#LoginWrapper {
    height: 75svh;
    width: 75svw;
    display: flex;
    box-shadow: var(--boxShadow);
    border-radius: 20px;
}

#LoginLeft {
    width: 30%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#LoginRight {
    width: 70%;
    background-color: white;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    
}

#LoginLeft img { 
    width: 150%;
    align-self: center;
}

#LoginLeft h3 {
    padding: 7.5%;
    color: white;
    font-weight: 900;
}

#LoginLeft span {
    font-weight: 300;
}

#formLogin {
    display: flex;
    flex-direction: column;
    margin-top: 12.5%;
    align-self: center;
}

#LoginRight #Signintext {
    font-size: 16px;
    font-weight: 300;
}

#formLogin input {
    width: 30svw;
    font-size: 16px;
    padding: 2.5%;
    border-width: .5px;
    border-radius: 10px;
    margin-bottom: 2.5%;
    margin-top: 1.25%;
    height: 5.33svh;
}

#LoginButton {
    width: 50%;
    align-self: center;
    margin: 2.5%;
    border-radius: 10px;
    border-style: none;
    padding: 1.25%;
    font-size: 16px;
    background-color: var(--main);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

#LoginButton:hover {
    background-color: white;
    color: var(--main);
    transition: .6s;
}