#Login {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#LoginWrapper {
    height: 75svh;
    width: 75svw;
    display: flex;
    box-shadow: var(--boxShadow);
    border-radius: 20px;
}

#LoginLeft {
    width: 30%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#LoginRight {
    width: 70%;
    background-color: white;
    padding: 2.5%;
    display: flex;
    flex-direction: column;

}

#LoginLeft img {
    width: 150%;
    align-self: center;
}

#LoginLeft h3 {
    padding: 7.5%;
    color: white;
    font-weight: 900;
}

#LoginLeft span {
    font-weight: 300;
}

.formLogin {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#LoginRight #Signintext {
    font-size: 16px;
    font-weight: 300;
}

.formLogin input {
    width: 30svw;
    font-size: 16px;
    padding: 2.5%;
    border-width: .5px;
    border-radius: 10px;
    margin-bottom: 2.5%;
    margin-top: 1.25%;
    height: 5.33svh;
}

#LoginButton {
    width: 50%;
    align-self: center;
    margin: 2.5% 0;
    border-radius: 10px;
    border-style: none;
    padding: 1.25%;
    font-size: 16px;
    background-color: var(--main);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

#LoginButton:hover {
    background-color: var(--second);
    color: var(--main);
    transition: .6s;
}

#LoginRight .rowinput {
    display: flex;
    gap: 1%;
    margin-top: 1.25%;
}

#LoginRight .loginrightinputs label {
    display: flex;
    flex-direction: column;
    margin-top: 1.25%;
    font-size: 16px;
}

#LoginRight .loginrightinputs input {
    width: 50%;
    height: 30px;
    margin-top: .5%;
    font-size: 14px;
    padding: 1%;
    border-radius: 5px;
    border: solid .5px black;
}

#LoginRight .submitright {
    width: 33%;
    height: 32px;
    align-self: center;
    margin-top: 2.5%;
    font-size: 16px;
    font-weight: 300;
    border-style: none;
    border-radius: 10px;
    background-color: var(--main);
    color: white;
    cursor: pointer;
}

#LoginRight .logincenter {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}