@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Apply the font globally */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main: #4200FF;
  /* Example of creating a color code */
  --second: #E7E7E7;
  --third: #C5C5C5;
  --dark: #404040;
  --boxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 1.33rem;
  padding: 0;
  margin: 0;
}

.normal {
  font-weight: 500 !important;
}


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 16px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Transparent background */
}

::-webkit-scrollbar-thumb {
  background-color: black;
  /* Black thumb */
  border-radius: 6px;
  /* Rounded corners (optional) */
  border: 3px solid transparent;
  /* Space around the thumb */
  background-clip: padding-box;
  /* Ensures the border doesn't overlay the thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  /* Thin scrollbar */
  scrollbar-color: black transparent;
  /* Black thumb on transparent track */
}